@font-face {
  font-family: 'Geist-Regular';
  src: url('../fonts/Geist-Regular.ttf');
}

@font-face {
  font-family: 'Geist-Bold';
  src: url('../fonts/Geist-Bold.ttf');
}

:root {
  --primaryColor: #09090b;
  --secondaryColor: #18181b;
  --tertiaryColor: #fafafa;
  --tertiaryColorAlt: #d4d4d8;
}

html {
  font-family: 'Geist-Regular', sans-serif;
  background: var(--primaryColor);
}

h1,
input[type='submit'] {
  font-family: 'Geist-Bold', sans-serif;
}

input[type='submit'] {
  border-radius: 10px;
  background-color: var(--tertiaryColor);
  transition: background-color 0.5s ease;
}

input[type='submit']:hover {
  background-color: var(--tertiaryColorAlt);
}

p,
#ciudad,
#pais {
  font-family: 'Geist-Regular', sans-serif;
  border-radius: 10px;
}

#ciudad {
  background-color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  color: var(--tertiaryColor);
}

#ciudad::placeholder {
  color: var(--tertiaryColor);
}

#pais {
  background-color: var(--primaryColor);
  border: 1px solid var(--secondaryColor);
  color: var(--tertiaryColor);
}

.error {
  border: 1px solid #dc2626;
  border-radius: 10px;
  background-color: transparent;
  color: #ef4444;
}

/* Spinner */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* Smartphones */
@media (max-width: 640px) {
  h1#titulo {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  input[type='text'],
  input[type='submit'] {
    width: 90%;
    margin-left: 1.5rem;
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  #pais {
    width: 90%;
    margin-left: 1.5rem;
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  #resultado p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }

  .mt-5 {
    margin-top: 1rem;
  }

  .p-3 {
    padding: 0.75rem;
  }
}
